[mysqld]

datadir=/var/lib/mysql

default_storage_engine=InnoDB
binlog_format=ROW

innodb_buffer_pool_size         = 500M
innodb_flush_log_at_trx_commit  = 0
innodb_flush_method             = O_DIRECT
innodb_log_file_size            = 200M
innodb_file_per_table           = 1
innodb_autoinc_lock_mode=2

bind_address = 0.0.0.0

wsrep_slave_threads=4
wsrep_cluster_address=gcomm://
wsrep_provider=/usr/lib64/galera3/libgalera_smm.so

wsrep_cluster_name=Theistareykjarbunga

